@import './iview-component.less';

.hover:hover {
  cursor: pointer;
}

.layout {
  min-width: 900px;
  margin-top: 50px;
  padding-top: 24px;
  height: 100%;
  position: relative;
  // background-color: #f8f8f8;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.clearfix:after {
  content: '';
  clear:both;
  display: table;
}

.footer {
  text-align: center;
  padding: 50px 50px 24px;
  color: #515a6e;
  font-size: 14px;
}
  
.verdict-accepted {
  color: #5cb85c;
  font-weight: 500;
}
.verdict-accepted:hover {
  cursor: pointer;
}

// judge failed
.verdict-failed {
  color: #d9534f;
  font-weight: 500;
}
.verdict-failed:hover {
  cursor: pointer;
}

// judge pending
.verdict-pending {
  color: grey;
  font-weight: 500;
}
.verdict-pending:hover {
  cursor: pointer;
}

// judge 
.verdict-compile-error {
  color: orange;
  font-weight: 500;
}
.verdict-compile-error:hover {
  cursor: pointer;
}