/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
$--color-primary: #24292E;
$--color-success: #218C74;
$--color-danger: #9C0C13;
$--color-warning: #CC8E35;
$--color-info: #227093;
$--font-size-base: 14px;

/* icon font path, required */
$--font-path: "~element-ui/lib/theme-chalk/fonts";

@import "~element-ui/packages/theme-chalk/src/index";
