$s-black: #545c64;
$s-yellow: #cc8e35;
$s-red: #f95959;
$s-blue: #3694bb;
$selection-color: #cc0e48;              
$selection-font-color: white;

$s-font-size: 19px;
$s-height: 37px;

$s-font-family: Tahoma, Arial, Helvetica, "Microsoft YaHei New",
"Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;